<div class="row mt-3" [style.height]="profilePageColumnHeight">
  <div class="col-md-5 col-12 ">
    <div class="profile-container">
      <h3> {{ this.profile.name }} {{ this.profile.surname }} </h3>
      <div class="row">
        <div class="col-6">
          <p class="subtitle"> Account created in {{ this.profile.createdAt.getFullYear() }} </p>
        </div>
        @if(!this.profile.is_moderator){
        <div class="col-6">
          @if(!this.isClientEditing){
            <div class="d-flex align-items-center edit" (click)="openProfileEdit()">
              <mat-icon>edit</mat-icon>
              <a> Update password </a>
            </div>
          } @else {
            <div class="d-flex align-items-center close-edit" (click)="closeProfileEdit()">
              <mat-icon>close</mat-icon>
              <a> Close form </a>
            </div>
          }
        </div>
        }
      </div>

      <hr>
      <div class="subtitle">
        <p> <strong> Username: </strong> {{ this.profile.username }} </p>
        <p> <strong> Email: </strong> {{ this.profile.email }} </p>
        <p> <strong> Role: </strong> {{ this.profile.is_moderator ? 'Moderator' : 'Student' }} </p>
        @if(!this.profile.is_moderator){
        <hr>
        <div class="row">
          <div class="col-6">
            <p> <strong>{{ this.auctions.length }}</strong> published auctions  </p>
          </div>
          <div class="col-6">
            <a class="text-end stats" [routerLink]="'/statistics'"> View statistics</a>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p> <strong>{{ this.participatedAuctions.length }}</strong> participated auctions  </p>
          </div>
          <div class="col-6">
            <a class="text-end stats" [routerLink]="'/statistics'"> View statistics</a>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  @if(!this.profile.is_moderator){
  <div class="col-md-7 col-12 auction-container overflow-scroll" [style.height]="profilePageColumnHeight">
    @if(!this.isClientEditing){
    <div class="row">
      <div class="col-12">
        <h3> Your Auctions </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        @for(auction of this.auctions; track auction){
          <app-auction-card
            [auctionID]="auction._id"
            [bookTitle]="auction.book.title"
            [base64Images]="auction.base64Images"
            [bookAuthor]="auction.book.author"
            [currentPrice]="auction.bids.length > 0 ? getLastBidPrice(auction.bids, auction.starting_price) : auction.starting_price"
            [bidsLength]="auction.bids.length"
            [end_date]="auction.end_date"
            [start_date]="auction.start_date"
          ></app-auction-card>
        }
      </div>
    </div>
    } @else {
      <div class="my-auto">
        <app-update-password (closeEditEvent)="closeProfileEdit()" [isUserInProfilePage]="true"></app-update-password>
      </div>
    }
  </div>
  }@else if(this.profile.is_moderator){
    <div class="col-md-7 col-12 auction-container">
      <app-update-password></app-update-password>
    </div>
  }


</div>
