<mat-toolbar class="custom-toolbar" color="primary">
  <div class="logo-container">
    <mat-icon class="logo-icon">menu</mat-icon>
    <span class="logo-text">My Application</span>
  </div>
  <span class="spacer"></span>
  <div class="button-container">
    @if (!this.isUserLoggedIn) {
      <button mat-button [routerLink]="'/login'" class="header-button">
        Login
      </button>
      <button mat-button [routerLink]="'/register'" class="header-button">
        Register
      </button>
    } @else {
      <button mat-button [routerLink]="'/logout'" class="header-button">
        Logout
      </button>
    }
    @if (this.userType === "student") {
      <button mat-button [routerLink]="'create'" class="header-button">
        Create Auction
      </button>
    }
    @if (this.userType !== "admin") {
      <button mat-button [routerLink]="''" class="header-button">
        List Auction(s)
      </button>
    }
  </div>
</mat-toolbar>
