<mat-toolbar class="custom-toolbar" color="primary">
  <div class="logo-container">
    <mat-icon class="logo-icon">menu</mat-icon>
    <span class="logo-text">My Application</span>
  </div>
  <span class="spacer"></span>
  <div class="button-container">
    <button mat-button [routerLink]="'/login'" class="header-button">Login</button>
    <button mat-button [routerLink]="'/register'" class="header-button">Register</button>
    <button mat-button [routerLink]="'/bid/create'" class="header-button">Create Bid</button>
  </div>
</mat-toolbar>
