mat-card {
  margin-top: 10px;
  height: 100vh;
}

.text-icon:hover {
  cursor: pointer;
}

.text-icon > a:hover{
  text-decoration: underline;
}

#card-details{
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.subtitle-accent{
  color: #2e2c2c;
}

.chat-details{
  border-right: 1px solid #ddd;
}

.messages-container{
  overflow-y: auto;
  /*border: 1px solid #ddd;*/
}

.back-icon:hover{
  cursor: pointer;
}

hr{
  color: #cccccc;
  height: 1px;
}

.carousel{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F2F2F2;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 50vh;
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.price{
  font-size: 20px;
  font-weight: bold;
}

.auction-description{
  margin-top: 10px;
  margin-bottom: 10px;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

mat-card{
  border: 0;
  box-shadow: none;
}
