<div class="auction-form-container">
  <div class="mt-5 mx-3 text-center">
    <h3> Add new Auction </h3>
    <p style="color:grey"> Add a new auction, if your book or the course it belongs to is not present in our system, add it </p>
  </div>
  <form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">
    <!-- Book Select with Text Search and Create Option -->
    <mat-form-field appearance="fill">
      <mat-label>Book</mat-label>
      <input
        matInput
        formControlName="book_id"
        [matAutocomplete]="autoBook"
        required
        (keyup)="searchBook()"
      />
      <mat-autocomplete
        #autoBook="matAutocomplete"
        [displayWith]="displayBookTitle.bind(this)"
      >
        @for (book of this.books; track book) {
          <mat-option [value]="book.id">
            [{{ book.ISBN }}] {{ book.title }} ({{ book.year }})
          </mat-option>
        } @empty {
          <mat-option (click)="addBook()">
            Add "{{ auctionForm.controls["book_id"].value }}"
          </mat-option>
        }
      </mat-autocomplete>
      @if (auctionForm.controls["book_id"].hasError("required")) {
        <mat-error>Book is required.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Course</mat-label>
      <input
        matInput
        formControlName="course_id"
        [matAutocomplete]="autoCourse"
        required
        (keyup)="searchCourse()"
      />
      <mat-autocomplete
        #autoCourse="matAutocomplete"
        [displayWith]="displayCourseName.bind(this)"
      >
        @for (course of courses; track course) {
          <mat-option [value]="course.id">
            [{{ course.university }}] {{ course.name }}
          </mat-option>
        }
      </mat-autocomplete>
      @if (auctionForm.controls["course_id"].hasError("required")) {
        <mat-error> Course is required.</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      @if (auctionForm.controls["description"].hasError("required")) {
        <mat-error> Description is required. </mat-error>
      }
    </mat-form-field>

    <!-- Reserve Price Input -->
    <mat-form-field appearance="fill">
      <mat-label>Reserve Price</mat-label>
      <input
        matInput
        formControlName="reserve_price"
        type="number"
        min="1"
        step="0.01"
        required
      />
      @if (auctionForm.controls["reserve_price"].hasError("required")) {
        <mat-error> Reserve Price is required. </mat-error>
      }
      @if (auctionForm.controls["reserve_price"].hasError("min")) {
        <mat-error> Reserve Price must be at least 1. </mat-error>
      }
    </mat-form-field>

    <!-- Starting Price Input -->
    <mat-form-field appearance="fill">
      <mat-label>Starting Price</mat-label>
      <input
        matInput
        formControlName="starting_price"
        type="number"
        min="1"
        step="0.01"
        required
      />
      @if (auctionForm.controls["starting_price"].hasError("required")) {
        <mat-error> Starting Price is required. </mat-error>
      }
      @if (auctionForm.controls["starting_price"].hasError("min")) {
        <mat-error> Starting Price must be at least 1. </mat-error>
      }
    </mat-form-field>

    <!-- Start Date Input -->
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="start_picker"
        formControlName="start_date"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="start_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #start_picker></mat-datepicker>
      <mat-hint>dd/mm/yyyy</mat-hint>
      @if (auctionForm.controls["start_date"].hasError("required")) {
        <mat-error> Start Date is required. </mat-error>
      }
    </mat-form-field>

    <!-- End Date Input -->
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="end_picker"
        formControlName="end_date"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="end_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #end_picker></mat-datepicker>
      <mat-hint>dd/mm/yyyy</mat-hint>
      @if (auctionForm.controls["end_date"].hasError("required")) {
        <mat-error> End Date is required. </mat-error>
      }
      @if (auctionForm.controls["end_date"].hasError("matDatepickerFilter")) {
        <mat-error> End Date must be after Start Date. </mat-error>
      }
    </mat-form-field>

    <!-- Condition Select -->
    <mat-form-field appearance="fill">
      <mat-label>Condition</mat-label>
      <mat-select formControlName="condition" required>
        <mat-option value="Mint">Mint</mat-option>
        <mat-option value="Near Mint">Near Mint</mat-option>
        <mat-option value="Excellent">Excellent</mat-option>
        <mat-option value="Good">Good</mat-option>
        <mat-option value="Fair">Fair</mat-option>
        <mat-option value="Poor">Poor</mat-option>
      </mat-select>
      @if (auctionForm.controls["condition"].hasError("required")) {
        <mat-error> Condition is required. </mat-error>
      }
    </mat-form-field>

    <!-- Image Upload and Preview -->

    <div class="row align-items-center">
      <div class="col-auto">
        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="fileInput.click()"
        >
          Add image(s)
        </button>
        @if (auctionForm.controls["files"].hasError("required")) {
          <mat-error> Choose at least one image.</mat-error>
        }
        <input
          hidden
          (change)="onFileSelected()"
          multiple="multiple"
          #fileInput
          type="file"
          id="files"
        />
      </div>
    </div>
    @if (imagePreviews.length > 0) {
      <mat-label>Preview</mat-label>
      <mat-grid-list cols="3" rowHeight="1:1" gutterSize="5px">
        @for (img of imagePreviews; track img) {
          <mat-grid-tile style="border: 1px solid #f06292">
            <img [src]="img" class="preview-img" alt="preview" />
          </mat-grid-tile>
        }
      </mat-grid-list>
    }

    <!-- Submit Button -->
    <div class="row">
      <div class="col-12">
        <button
          style="width: 100%"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Submit Auction
        </button>
      </div>
    </div>
  </form>
</div>
