<mat-card class="auction-card" appearance="outlined">
  <mat-card-header class="text-oneline">
    <mat-card-title class="title" [routerLink]="['/', this.auctionID]">
       {{ this.bookTitle }}
    </mat-card-title>
    <mat-card-subtitle>{{ this.bookAuthor }}</mat-card-subtitle>
  </mat-card-header>
  <div
    [id]="'auctionCarousel' + this.auctionID"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        *ngFor="let image of base64Images; let i = index"
        type="button"
        [attr.data-bs-target]="'#auctionCarousel' + this.auctionID"
        [attr.data-bs-slide-to]="i"
        [ngClass]="{ active: i === 0 }"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        *ngFor="let image of base64Images; let i = index"
        class="carousel-item"
        [ngClass]="{ active: i === 0 }"
      >
        <img
          [src]="'data:image/webp;base64,' + image"
          class="carousel-image object-fit-contain"
          alt="Auction Image"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      type="button"
      [attr.data-bs-target]="'#auctionCarousel' + this.auctionID"
      data-bs-slide="prev"
      style="filter: invert(100%)"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      type="button"
      [attr.data-bs-target]="'#auctionCarousel' + this.auctionID"
      data-bs-slide="next"
      style="filter: invert(100%)"
    >
      <span class="carousel-control-next-icon"  aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <mat-card-content>
    <label for="price">Current bid:</label>
    <span id="price" class="price"> {{ this.currentPrice }} EUR </span>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="[this.auctionID]"
    >
      View details
    </button>
  </mat-card-actions>
</mat-card>
