<mat-card class="auction-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ this.bookTitle }}</mat-card-title>
    <mat-card-subtitle>{{ this.bookAuthor }}</mat-card-subtitle>
  </mat-card-header>
  <!-- TODO: carousel of images -->
  @for (image of this.base64Images; track image) {
    <img mat-card-image [src]="image" alt="Carousel pictures of book" />
  }
  <mat-card-content>
    <p>
      {{ this.bidDescription }}
    </p>
    <mat-chip>{{ this.currentPrice }}</mat-chip>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/auction', this.auctionID]">View</button>
  </mat-card-actions>
</mat-card>
