form {
  background-color: #f9f9f9;
  border-radius: 5px;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20vh auto 10px;
}

table{
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.h-100 {
  min-height: 100vh;
}
