form {
  background-color: white;
  border-radius: 15px;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin:auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.h-100 {
  min-height: 100vh;
}
