form {
  border-radius: 5px;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.h-100 {
  min-height: 100vh;
}

.redirect{
  text-decoration: none;
  color: #0d47a1;
}

.redirect:hover{
  color: #1a237e;
  transition: 0.3s;
}
