<mat-card>
  <div class="row" [formGroup]="form">
    <div
      class="col-lg-2 col-md-3 col-6 d-flex align-items-center justify-content-center"
    >
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          formControlName="bookName"
          placeholder=""
        />
        @if (this.form.controls["bookName"].errors) {
          <mat-error>Please write atleast 1 character.</mat-error>
        }
      </mat-form-field>
    </div>

      <div class="col-lg-2 col-md-3 col-3 d-flex align-items-center justify-content-center">
      <mat-form-field class="form-field">
        <mat-label>Min. price</mat-label>
        <input type="number" matInput formControlName="minStartingPrice" />
      </mat-form-field>
      </div>
      <div class="col-lg-2 col-md-3 col-3 mx-auto my-auto d-flex align-items-center justify-content-center">
        <mat-form-field class="form-field">
          <mat-label>Max. price</mat-label>
          <input type="number" matInput formControlName="maxStartingPrice" />
        </mat-form-field>
      </div>

    <div
      class="col-lg-2 col-md-3 col-6 d-flex align-items-center justify-content-center"
    >
      <mat-form-field class="form-field">
        <mat-label>Minimum condition</mat-label>
        <mat-select formControlName="condition">
          <mat-option value="Mint">Mint</mat-option>
          <mat-option value="Near Mint">Near Mint</mat-option>
          <mat-option value="Excellent">Excellent</mat-option>
          <mat-option value="Good">Good</mat-option>
          <mat-option value="Fair">Fair</mat-option>
          <mat-option value="Poor">Poor</mat-option>
        </mat-select>
        @if (this.form.controls["condition"].errors) {
          <mat-error>Please select a condition.</mat-error>
        }
      </mat-form-field>
    </div>
    <div
      class="col-lg-2 col-md-12 col-6 mx-auto d-flex align-items-center justify-content-center"
    >
      <mat-checkbox formControlName="active" (click)="toggleActive()"
        >Show only active auctions</mat-checkbox
      >
    </div>
    <div
      class="col-lg-2 col-12 d-flex align-items-center justify-content-center"
    >
      <button mat-raised-button color="primary" (click)="searchWithFilters()">
        Filter
      </button>
    </div>
  </div>
</mat-card>
<div class="row">
  @for (auction of availableAuctions; track auction.ID) {
    <div class="col-xl-4 col-md-6 col-md-6 col-sm-10 col-12 mx-auto">
      <app-auction-card
        auctionID="{{ auction.ID }}"
        bookTitle="{{ auction.bookTitle }}"
        bookAuthor="{{ auction.bookAuthor }}"
        bidDescription="{{ auction.bidDescription }}"
        [base64Images]="auction.base64Images"
        currentPrice="{{ auction.currentPrice }}"
      ></app-auction-card>
    </div>
  } @empty {
    <p>
      There are currently no available auctions matching your filters, please
      try again later.
    </p>
  }
</div>
