<div class="container-fluid">
  <div class="row sticky-top mt-4" id="filterRow">
    <div class="d-flex align-items-center transition-width" [ngClass]="toggleClassBasedOnSticky()">
      <div class="w-100" [formGroup]="form">
        <!-- Advanced Search Expansion Panel -->
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <!-- Search Bar in Header -->
            <div class="row w-100">
              <div class="col-12 d-flex align-items-center">
                <input
                  type="text"
                  class="form-control custom-input"
                  formControlName="queryString"
                  placeholder="Search for products"
                />
                <button
                  class="btn btn-primary custom-button"
                  (click)="searchWithFilters()"
                >
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
          </mat-expansion-panel-header>

          <!-- Advanced Filters Inside Expansion Panel -->
          <div class="row gx-2 gy-2 justify-content-center mt-3">
            <!-- Min Price Field -->
            <div
              class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <div class="w-100">
                @if(form.controls['minStartingPrice'].touched &&
                form.controls['minStartingPrice'].invalid){
                <div class="text-danger small mb-1">
                  Please enter a valid minimum price.
                </div>
                }
                <input
                  type="number"
                  class="form-control custom-input"
                  formControlName="minStartingPrice"
                  placeholder="Min. price"
                />
              </div>
            </div>
            <!-- Max Price Field -->
            <div
              class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <div class="w-100">
                @if(form.controls['maxStartingPrice'].touched &&
                form.controls['maxStartingPrice'].invalid){
                <div class="text-danger small mb-1">
                  Please enter a valid maximum price.
                </div>
                }
                <input
                  type="number"
                  class="form-control custom-input"
                  formControlName="maxStartingPrice"
                  placeholder="Max. price"
                />
              </div>
            </div>
            <!-- Condition Field -->
            <div
              class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <div class="w-100">
                @if(form.controls['condition'].touched &&
                form.controls['condition'].invalid){
                <div class="text-danger small mb-1">
                  Please select a condition.
                </div>
                }
                <select
                  class="form-select custom-input"
                  formControlName="condition"
                >
                  <option value="" disabled selected>Minimum condition</option>
                  <option value="Mint">Mint</option>
                  <option value="Near Mint">Near Mint</option>
                  <option value="Excellent">Excellent</option>
                  <option value="Good">Good</option>
                  <option value="Fair">Fair</option>
                  <option value="Poor">Poor</option>
                </select>
              </div>
            </div>
            <!-- Active Checkbox -->
            <div
              class="col-lg-3 col-md-12 col-6 d-flex align-items-center justify-content-center"
            >
              <div class="form-check">
                <input
                  class="form-check-input custom-checkbox"
                  type="checkbox"
                  formControlName="active"
                  (click)="toggleActive()"
                />
                <label class="form-check-label custom-label">
                  only active
                </label>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>

    </div>
  </div>

    <div class="row h-100">
      <div class="col-md-8 col-11 my-auto mx-auto">
        <div class="row">
          @for (auction of availableAuctions; track auction.ID) {

              <app-auction-card
                style="margin-top:30px;"
                auctionID="{{ auction.ID }}"
                bookTitle="{{ auction.bookTitle }}"
                bookAuthor="{{ auction.bookAuthor }}"
                [base64Images]="auction.base64Images"
                [currentPrice]="auction.currentPrice"
                [bidsLength]="auction.bidsLength"
                [start_date]="auction.start_date"
                [end_date]="auction.end_date"
              ></app-auction-card>
          } @empty {
            <p>
              There are currently no available auctions matching your filters, please
              try again later.
            </p>
          }
        </div>
      </div>
      </div>
    </div>
